* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --orange-0: #fa0;
  --black-0: #0a0;
  --success: #0f0;
  --success-text: #030;
  --failure: #f00;
  --failure-text: #300;
}
